DEPLOY_ROOT=/models_data/det-dashboard
APP_BIND_ADDRESS=0.0.0.0
APP_PORT=5173

POSTGRES_DB=det_dashboard
POSTGRES_USER=det
POSTGRES_PASSWORD=replace-with-a-long-random-password

MINIO_ROOT_USER=detminio
MINIO_ROOT_PASSWORD=replace-with-a-long-random-password
MINIO_BUCKET=zbh-datasets
